<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>653068946098-a8920g8c0d8ih7omqflh9j2iv9i1fnmd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653068946098-a8920g8c0d8ih7omqflh9j2iv9i1fnmd</string>
	<key>API_KEY</key>
	<string>AIzaSyDdCm2Gg5azJZnD3uY-ys6F_AGwYcXxMvc</string>
	<key>GCM_SENDER_ID</key>
	<string>653068946098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HobbyTracker</string>
	<key>PROJECT_ID</key>
	<string>hobbytrackerfinal</string>
	<key>STORAGE_BUCKET</key>
	<string>hobbytrackerfinal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653068946098:ios:9ca1085670cc45b74857ab</string>
</dict>
</plist>
