<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925173352862-bp2f4ca9ldbnv9lm1j6ev6721l1js5fk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925173352862-bp2f4ca9ldbnv9lm1j6ev6721l1js5fk</string>
	<key>API_KEY</key>
	<string>AIzaSyCaqj60G7YuBohEYJiAD5xd6MYw9pMP_ds</string>
	<key>GCM_SENDER_ID</key>
	<string>925173352862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cpp.HobbyGuru</string>
	<key>PROJECT_ID</key>
	<string>hobbyguru-64222</string>
	<key>STORAGE_BUCKET</key>
	<string>hobbyguru-64222.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925173352862:ios:ca3153ad2ed75ae12d6e8f</string>
</dict>
</plist>